{% extends 'user/base.html' %}

{% block title %}About Us{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

{% load static %}
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/static/user/images/side-woman3.png');">
    <h2 class="ltext-105 cl0 txt-center">
        About
    </h2>
</section>

<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Story
                    </h3>
                    <p class="stext-113 cl6 p-b-26">
                        Having the extensive knowledge of fabric, drape, quality and sourcing in her long career working
                        for export markets Tanuja lends her knowledge to buy Indian but now for Indians across borders.
                        We are in total support of “Make in India” so all our products come from weavers of India.

                        Science of Quality does not have to come at great expense and to select elegance is an art.

                        To match the Art and Science of textiles – Kalki Fashion was born.

                        Our sarees have simplicity of design with strong character in each fabric that we choose but
                        with great quality . We are careful to offer great quality and design at affordable prices which
                        is why we do not offer discounts or Big sales.

                        Our Mission is to make Kalki Fashion a Destination for Indians merchandise by delivering
                        outstanding
                        Value with great customer experience by consistently fulfilling our brand promise of “Delivering
                        Outstanding Value”.

                        The Saree has draped many women - Goddess Durga to Rani Lakshmi Bai and even iconic Sridevi,
                        Kajol and Deepika Padukone....It shows power, showcases Indian Tradition , it shows the right
                        amount, it also covers the right amount, It is extremely versatile , it suits every body type
                        and suits every face...So let’s celebrate Indianness and be Kalki Fashion by wearing sarees and
                        stand
                        out !!

                    </p>


                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="{% static 'user/images/woman-pic3.jpg' %}" alt="IMG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Mission
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        <b>“To help all families discover the joy of everyday life.” </b>
                    </p>

                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            The retail giant follows through on this commitment by providing all customers a fun and
                            easy shopping experience at their stores.
                        </p>

                        <span class="stext-111 cl8">
								- Kalki Fashion
							</span>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="{% static 'user/images/photo_6226728360814424000_y.jpg' %}" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}